@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./texto.css";
@import "./testimonio.css";
@import "./testimony.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";







:root {
    --fontBase: 'Poppins', sans-serif;
    --headline1: bold 95px/153.71 --fontBase;
    --headline2: bold 59px/95.46px var(--fontBase);
    --headline3: bold 48px/77.66px var(--fontBase);
    --headline4: bold 34px/55.01px var(--fontBase);
    --headline5: bold 24px/38.83px var(--fontBase);
    --body1: 16px/25.89px var(--fontBase);
    --body2: 14px/22.65px var(--fontBase);
    --button: bold 14px/22.65px var(--fontBase);
    --caption: bold 12px/19.42px var(--fontBase);
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);;
    --purple:#310A90;
    --gren: #42E2B8;
    --white: #ffffff;
}

body {
    margin: 0;
    background: var(--gradient);  
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--purple);
}

