
.testimonio-content {
    padding-block: 24px;
    padding-inline: 24px;
    max-inline-size: 1132px;
    max-block-size: 423px;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.2);
    margin-block: 40px;
    border-radius: 24px;
    box-shadow: -1px -1px 0 0 var(--white);
    /* align-self: flex-start; */
}

.testimonio-content p {
    text-align: left;
    max-block-size: 100%;
    max-inline-size: 100%;
    width: auto;
    height: auto;
}

.testimonio-image {
    text-align: center;
}
.testimonio-recomendacion p {
    font: var(--caption);
}
.testimonio-referencia p {
    opacity: 0.5;
    font: var(--body2);
}

@media screen and (min-width: 768px) {

    .testimonio-content {
        padding-block: 80px;
        padding-inline: 80px;
        margin-block: 80px;
    }
    .testimonio-content p {
        text-align: center;
    }
    
    .testimonio-recomendacion p {
        font: var(--headline4)
    }
    
    .testimonio-referencia p {
        font: var(--headline5);
    }
}

@media screen and (max-width: 1024px) {
    .testimonio-recomendacion p {
        font: var(--headline5)
    }
    
    .testimonio-referencia {
        font: var(--body1);
    }
}